/* 
body {
  background-color: rgb(216, 219, 219);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;   
  
} */
/* html { 
  background: url('../static/images/oilshimmer-pexels-suzy-hazelwood-1629236.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */


/***************************************/
/*Background Image*/
/***************************************/

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.4;
}

/***************************************/
/*Headers*/
/***************************************/

h1 {
  font-size: 40px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}

h3 {
  font-size: 32px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}

/************************************/
/* Feather Icons*/
/***************************************/

.feather {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}


/************************************/
/* Table*/
/***************************************/
/* .table {
  float: left;
  /* display: inline-flex; */
/*} */

/************************************/
/* Sidebar*/
/***************************************/
.flex-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  margin: 30px;
  padding: 16px;
  /* background-color: red; */
  display: flex;
  justify-content: center; 
  align-items: center;
  flex: 1;
  flex-direction: column;
  /* color: white; */
  box-sizing:border-box;
}

@media (max-width:767px) {
  .flex-col {
    flex-basis: calc(50% - 12px);
  }
}

@media (max-width:460px) {
  .flex-col {
    flex-basis: 100%;
  }
}

/***********************************/
/* Process*/
/***********************************/
h2 {
  color: rgb(88, 68, 68)!important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  padding-right: 18px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

}
p {
  color: rgb(34, 33, 33)!important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: heavy;
  padding-right: 18px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background:rgb(228, 227, 227)
  }

  li {
    color: rgb(94, 46, 46)!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: heavy;
    padding-right: 50px;
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background:rgb(228, 227, 227)
    }

hr {
  border-color: black!important;
}
/***********************************/
/* Navbar*/
/***********************************/


#navbarNav * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  /* color: blue; */
  font-weight: bold;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-item  {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: none;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
} 

.img-container {
  align-items: center;
  padding-left: 10px;
}
/* 
.form-control-dark {
  color: #fff;
  background-color: red;
  border-color: red;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(245, 232, 232, 0.25);
} */

/* .navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {

  top: .25rem;
  right: 1rem;
  font-size: 1.25rem;
}



  
/***********************************/
/* Dropdown*/
/***********************************/

/* .dropbtn {
background-color: #101110;
color: white;
padding: 30px;
font-size: 24px;
border: none;
cursor: pointer;
position: relative;
display: inline-block;
} */

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
position: relative;
display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
} */

/* Links inside the dropdown */
/* .dropdown-content a {
font-size: 20px;
font-weight: bold;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {display: block;} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #39476d;} */


.show {display: block;}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.btn-social {
height: 2.5rem;
width: 2.5rem;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0;
border-radius: 100%;
}

/* Style all font awesome icons */
.fa {
padding: 30px;
background:none;
/* font-size: 80px; */
width: 75px;
/* align-items: center;
justify-self: center;
text-decoration: none; */
}

/* Add a hover effect if you want */
.fa:hover {
opacity: 0.5;
}

/* Set a specific color for each brand */

/* Github */
.fa-github {
color: #070707;
align: left;
}

/* LinkedIn */
.fa-linkedin-square {
color: #0927d3;
align: right;
}

