<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>
    
    {% endblock %}

    <!-- Chart container -->
    <div id="myChart">
  
    <!-- Drop-down -->
      <select id="chart-selector" name="chart-selector">
    
        <option value="">Please Select An Option</option>
        <option value="0">0</option>
        <option value="1">1</option>
    
      </select>
  
    </div>
  </body>
</html>